body{
    padding:0;
    margin:0;
    overflow: hidden;
    background-color:rgb(227, 229, 231);
}
.NavBar{
    height: 102vh;
    width:65px;
    position:fixed;
    top: -10px;
    background-color: rgb(13, 48, 113);
}
.Icons{
    color: aliceblue;
}
.Icons li{
    list-style: none;
    padding: 1rem 2rem;
    padding-left: 0;
}
.ri-account-circle-line{
    padding-left: 13px;
    color:rgba(66, 68, 129, 0.72) ;
}
.ri-speed-up-line {
    padding: 16px;
}
.ri-clipboard-fill {
    padding: 16px;
}
.ri-briefcase-4-fill{
    padding: 16px;
}
.ri-group-fill{
    padding: 16px;
}
.ri-account-circle-line:hover{
    background-color: rgb(99, 46, 142);
    border-radius: 9px;
    color: rgb(60,184,184);
    margin-left: 3px;
    padding-left: 40%;
    padding-right: 13px;
    padding-top: 40%;
    padding-bottom: 40%;
    transition: 500ms;
}
.ri-speed-up-line:hover{
    background-color: rgb(113, 34, 181);
    border-radius: 9px;
    margin-left: 3px;
    padding-left: 40%;
    padding-right: 13px;
    padding-top: 40%;
    padding-bottom: 40%;
    color: aqua;
    transition: 500ms;
}
.ri-clipboard-fill:hover{
    background-color: rgb(113, 34, 181);
    border-radius: 9px;
    margin-left: 3px;
    padding-left: 40%;
    padding-right: 13px;
    padding-top: 40%;
    padding-bottom: 40%;
    color: aqua;
    transition: 500ms;
}
.ri-briefcase-4-fill:hover{
    background-color: rgb(113, 34, 181);
    border-radius: 9px;
    margin-left: 3px;
    padding-left: 40%;
    padding-right: 13px;
    padding-top: 40%;
    padding-bottom: 40%;
    color: aqua;
    transition: 500ms;

}
.ri-group-fill:hover{
    background-color: rgb(113, 34, 181);
    border-radius: 9px;  
    margin-left: 3px;
    padding-left: 40%;
    padding-right: 13px;
    padding-top: 40%;
    padding-bottom: 40%;
    color: aqua;
    transition: 500ms;
    
}